h2{
    text-align: center;
    font-family: 'Edu TAS Beginner', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    }
    h1{
      color:blue;
      text-align: left;
      background-color: black; 
      padding: 50px;
      font-size: medium;
      font-family: Arial, Helvetica, sans-serif;
    }
      h1:hover{
        color: brown;
      }
       
         a{
            color: brown;
            background-color: aqua;
         }

         a:hover{
            color:red
          }
          span:hover{
            color: blue;
            background-color: blue;
          }